.app__header {
  background-color: rgb(255, 255, 255);
  object-fit: contain;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__header img {
  object-fit: contain;
}
